<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swerve Resto</title>
</head>
<body>
  <header>
    <div class="logo">SWERVE</div>
    <div class="buttons">
      <button id="home">Home</button>
      <button id="menu">Menu</button>
      <button id="contact">Contact</button>
    </div>
  </header>
  <main>
    <div id="content">

    </div>
  </main>
  <footer>
    © <span><a href="http://github.com/ivandnd">ivandnd</a></span>
  </footer>
</body>
</html>